
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared */
.dark-2{
    color: #A6AEBF ;}
.btn-primary{
    background-color: #D4BEE4;
    color: white;
    font-weight:bold ;
    padding: 18px 35px;
border: none;
border-radius: 5px;
font-size: 20px;
} 

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav_title{
    font-weight: 800px;
    font-size: 45px;}
.span{
    color: #7965C1;
}    
nav ul li{
    list-style: none;
    margin-right: 50px;
} 
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul {
    display: flex;
    align-items: center;
}
.banner_one{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner_two{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}
.banner_three{
    font-size: 20px;
    color: #757575;
}
.banner_div{
    
    max-width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 200px;
}
.imgdiv{
    width: 580px;
}
.header{
    background-image: url(./images/developer.png);
    background-repeat: no-repeat;
}